/Auto-B-Day-war/nbproject/
/Auto-B-Day-ejb/nbproject/
/.settings
/.project

/Auto-B-Day-war/.settings
/Auto-B-Day-war/.project
/Auto-B-Day-war/.classpath

/Auto-B-Day-ejb/.settings
/Auto-B-Day-ejb/.project
/Auto-B-Day-ejb/.classpath

/Auto-B-Day-ejb/src/java/SystemMailAccount.properties

/setup
/lib
/buildNet.xml
/build/
/dist/
/nbproject/
/Auto-B-Day-ejb/dist/
/Auto-B-Day-ejb/build/
/Auto-B-Day-war/build/
/Auto-B-Day-war/dist/