/Auto-B-Day-war/nbproject/
/Auto-B-Day-ejb/nbproject/
/Auto-B-Day-war/nbproject/private/
/Auto-B-Day-ejb/nbproject/private/
/.settings
/.project
/Auto-B-Day-war/.settings
/Auto-B-Day-war/.project

/Auto-B-Day-ejb/.settings
/Auto-B-Day-ejb/.project

/build/
/dist/
/nbproject/
/nbproject/private/
/Auto-B-Day-ejb/dist/
/Auto-B-Day-ejb/build/
/Auto-B-Day-war/build/
/Auto-B-Day-war/dist/