
#top {
    position: relative;
    padding: 5px;
    margin: 0px 0px 10px 0px;
}
#navi {
	padding: 5px;
}
#bottom {
    position: relative;
    padding: 5px;
	clear: left;
}
#wrapper {
}
#left {
    float: left;
    padding: 5px;
    width: 300px;
}

#right {
    float: right;
    padding: 5px;
    width: 300px;
}

.center_content {
    position: relative;
    padding: 5px;
}

.left_content {
    padding: 5px;
    margin-left: 310px;
}

.right_content {
    padding: 5px;
    margin: 0px 310px 0px 310px;
}

#top a:link, #top a:visited {
  color: gray;
  font-weight : bold;
  text-decoration: none;
}

#top a:link:hover, #top a:visited:hover  {
  color: black;
  font-weight : bold;
  text-decoration : underline;
}


